{% extends 'basic.html' %}{% block content %}
<div class="container" data-aos-easing="ease-out-cubic"
  data-aos-duration="1500"
  data-aos="fade-up">
  <div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="" />
    <div class="card-body">     

         <p class="card-text">
        <div class="card">
           
            <div class="card-body">
                <p class="card-text alert alert-success text-center">API USED</p> <br>
                <p class="card-text text-center text-danger">
                    
                    <a href="https://developer.grammarly.com/docs/api/editor-sdk/">Grammarly API:</a> <br>
                    <a href="https://textgears.com/api#spelling">Text Gears Spellings API</a>
                </p>

<br>

            


               
                <p class="card-text">
                <p class="card-text alert alert-success text-center">PACKAGES USED</p> <br>

               
                <p class="card-text"><strong>Django

</strong>
Django is an extremely popular and fully featured server-side web framework, written in Python. <br> This is  how you  set up a development environment, and how to start using it to run web applications. <br>

 <a href="https://pypi.org/project/Django/">Follow this link for more information</a> 
</p>
            </div>
        </div>
      </p>
      <p class="card-text">
        <div class="card">
           
            <div class="card-body">
               
                <p class="card-text"><strong>Python 3.10.1 and above  must be installed.</strong>
 <br> <a href="https://www.python.org/downloads/">Follow this link to download it</a>
</p>
            </div>
        </div>
      </p>



         <p class="card-text">
        <div class="card">
           
            <div class="card-body">
               
                <p class="card-text"><strong>Django

</strong>
Django is an extremely popular and fully featured server-side web framework, written in Python. <br> This is  how you  set up a development environment, and how to start using it to run web applications. <br>

 <a href="https://pypi.org/project/Django/">Follow this link for more information</a> 
</p>
            </div>
        </div>
      </p>



      
         <p class="card-text">
        <div class="card">
           
            <div class="card-body">
               
                <p class="card-text"><strong>Gramformer 
 
</strong>A framework for detecting and correcting grammatical errors on natural language text (NLP) <br>
Gramformer is a library that exposes 3 seperate interfaces to a family of algorithms to detect, highlight and correct grammar errors. <br> To make sure the corrections and highlights recommended are of high quality, it comes with a quality estimator. <br>
Algorithmn used: <br>
<strong>Detect</strong> - implemeted <br>
<strong>Correct grammer</strong> - implemeted <br>
<strong>Highlighter</strong> - This module as its still a beta version , thus I dint  implemet it in the project  <br>
Installation <br>
<strong>Open command promt and run</strong>: <br>
 <code>pip install -U git+https://github.com/PrithivirajDamodaran/Gramformer.git</code> <br>
<code> pip install colabcode</code>
<br>
<a href="https://github.com/PrithivirajDamodaran/Gramformer">For more information about gramformer:</a>


</p>
            </div>
        </div>
      </p>



         <p class="card-text">
        <div class="card">
           
            <div class="card-body">
               
                <p class="card-text"><strong>TextBlob

</strong>TextBlob is a library for processing textual data. <br> It provides a simple API for diving into common natural language processing (NLP) tasks <br> such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation, and more. <br> <a href="https://pypi.org/project/textblob/">Follow this link for more information</a> <br>
 Installation <br>
 <code>pip install textblob</code> <br>

</p>
            </div>
        </div>
      </p>

      
         <p class="card-text">
        <div class="card">
           
            <div class="card-body">
               
                <p class="card-text"><strong>Beautiful Soup

</strong>Beautiful Soup is a library that makes it easy to scrape information from web pages. <br> It sits atop an HTML or XML parser, providing Pythonic idioms for iterating, searching, and modifying the parse tree. <br> <a href="https://pypi.org/project/beautifulsoup4/">Check here :</a> <br>
Installation <br>
<code>
    pip install beautifulsoup4
</code> <br>
 

</p>
            </div>
        </div>
      </p>


         <p class="card-text">
        <div class="card">
           
            <div class="card-body">
               
                <p class="card-text"><strong>Torch

</strong>
PyTorch is a Python package that provides two high-level features: <br>
Tensor computation (like NumPy) with strong GPU acceleration <br>
Deep neural networks built on a tape-based autograd system <br>
<a href="https://pypi.org/project/torch/">Check here:</a> <br>
 
Installation <br>
<code>pip install torch</code> <br>

 

</p>
            </div>
        </div>
      </p>

      

















    </div>
  </div>
</div>
{% endblock %}
